<div class="section">
    <div class="book-listing container tim-container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th width="10%">#</th>
                <th>Book Title</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1.</td>
                <td><a routerLink="/books/1/reader">Book 1</a></td>
            </tr>
            <tr>
                <td>2.</td>
                <td><a routerLink="/books/2/reader">Book 2</a></td>
            </tr>
            <tr>
                <td>3.</td>
                <td><a routerLink="/books/3/reader">Book 3</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>