<div class="section">
    <div class="book-listing container tim-container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th width="10%">#</th>
                <th>Book Title</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let book of bookList; let i = index">
                    <td>{{i + 1}}</td>
                    <td><a routerLink="/books/{{book.id}}/reader">{{book.name}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>