<nav class="navbar navbar-expand-lg sticky-top navbar-light" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <!--<a class="navbar-brand" href="/">{{ navBarTitle }}</a>-->
            <div class="navbar-brand chapter-spy">
                <span ngbDropdown class="heading d-inline-block dropdown">
                    <span class="nav-link chapter-dropdown" id="dropdownHeading"
                          ngbDropdownToggle>{{ bookHeading }}</span>
                    <span ngbDropdownMenu aria-labelledby="dropdownHeading" class="dropdown-primary dropdown-content">
                        <a class="dropdown-item" *ngFor="let chapter of chapters" (click)="scrollToChapter(chapter.id, 50)">{{chapter.name}}</a>
                    </span>
                </span>

                <span *ngIf="inSubChapter" ngbDropdown class="sub-heading d-inline-block dropdown">
                    <span class="nav-link chapter-dropdown" id="dropdownSubHeading" ngbDropdownToggle>{{ bookSubHeading }}</span>
                    <span ngbDropdownMenu aria-labelledby="dropdownSubHeading"
                          class="dropdown-primary dropdown-content">
                        <a class="dropdown-item" *ngFor="let chapter of getViewingSubChapters()" (click)="scrollToChapter(chapter.id, 70)">{{chapter.name}}</a>
                    </span>
                </span>
            </div>
        </div>
    </div>
</nav>
<nav class="navbar navbar-expand-lg fixed-bottom navbar-light" color-on-scroll="500">
    <div class="container">
        <a routerLink="/dashboard" class="btn btn-outline-primary btn-sm btn-border btn-round">HOME</a>
        <a routerLink="/contacts" class="btn btn-sm btn-outline-primary btn-border btn-round">CONTACTS</a>
        <button type="button" class="btn btn-sm btn-outline-primary btn-border btn-round" (click)="openToc()">BOOK TOC
        </button>
    </div>
</nav>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="d-none d-md-block col-md-4 book-chapters">
                <h3>Table of Contents</h3>
                <ul>
                    <li *ngFor="let chapter of chapters"><span (click)="scrollToChapter(chapter.id, 50)">{{chapter.name}}</span>
                        <ul>
                            <li *ngFor="let child of chapter.children" (click)="scrollToChapter(child.id, 70)">{{child.name}}</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-md-8 book-reader">
                <h3 *ngIf="book">{{book.name}}</h3>
                <i *ngIf="book">{{book.description}}</i>
                <div scrollSpy [scrollSpyIndex]="{id: 'chapters', selector: 'chapter'}">
                    <div [scrollSpyIndex]="{id: 'subChapters', selector: 'sub-chapter'}">
                        <app-book-chapter *ngFor='let chapter of chapters' [class.sub-chapter]="isSubChapter(chapter.id)" [class.chapter]="!isSubChapter(chapter.id)" [class.padding-navbar]="isScrolledToView(chapter.id)" [scrollToChapterId]=[scrollToChapterId] [chapter]="chapter" [attr.data-id]="chapter.id" [attr.data-content]="chapter.name">
                        </app-book-chapter>


                        <div #view1 [class.padding-navbar]="isScrolledToView(21)" data-id="21" class="chapter" data-content="Hello Chapter 2">
                            <h1>Imhere</h1>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>