<div class="modal-header">
  <h5 class="modal-title text-center">Book 001</h5>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ul>
    <li>Chapter 1</li>
    <li>Chapter 2
      <ul>
        <li>Sub Chapter 2.1</li>
      </ul>
    </li>
    <li>Chapter 3
      <ul>
        <li>Sub Chapter 3.1</li>
        <li>Sub Chapter 3.2</li>
        <li>Sub Chapter 3.3</li>
        <li>Sub Chapter 3.4</li>
        <li>Sub Chapter 3.5</li>
        <li>Sub Chapter 3.6</li>
        <li>Sub Chapter 3.7</li>
        <li>Sub Chapter 3.8</li>
        <li>Sub Chapter 3.9</li>
      </ul>
    </li>
    <li>Chapter 1</li>
    <li>Chapter 2
      <ul>
        <li>Sub Chapter 2.1</li>
      </ul>
    </li>
    <li>Chapter 3
      <ul>
        <li>Sub Chapter 3.1</li>
        <li>Sub Chapter 3.2</li>
        <li>Sub Chapter 3.3</li>
        <li>Sub Chapter 3.4</li>
        <li>Sub Chapter 3.5</li>
        <li>Sub Chapter 3.6</li>
        <li>Sub Chapter 3.7</li>
        <li>Sub Chapter 3.8</li>
        <li>Sub Chapter 3.9</li>
      </ul>
    </li>
    <li>Chapter 1</li>
    <li>Chapter 2
      <ul>
        <li>Sub Chapter 2.1</li>
      </ul>
    </li>
    <li>Chapter 3
      <ul>
        <li>Sub Chapter 3.1</li>
        <li>Sub Chapter 3.2</li>
        <li>Sub Chapter 3.3</li>
        <li>Sub Chapter 3.4</li>
        <li>Sub Chapter 3.5</li>
        <li>Sub Chapter 3.6</li>
        <li>Sub Chapter 3.7</li>
        <li>Sub Chapter 3.8</li>
        <li>Sub Chapter 3.9</li>
      </ul>
    </li>
    <li>Chapter 1</li>
    <li>Chapter 2
      <ul>
        <li>Sub Chapter 2.1</li>
      </ul>
    </li>
    <li>Chapter 3
      <ul>
        <li>Sub Chapter 3.1</li>
        <li>Sub Chapter 3.2</li>
        <li>Sub Chapter 3.3</li>
        <li>Sub Chapter 3.4</li>
        <li>Sub Chapter 3.5</li>
        <li>Sub Chapter 3.6</li>
        <li>Sub Chapter 3.7</li>
        <li>Sub Chapter 3.8</li>
        <li>Sub Chapter 3.9</li>
      </ul>
    </li>
    <li>Chapter 1</li>
    <li>Chapter 2
      <ul>
        <li>Sub Chapter 2.1</li>
      </ul>
    </li>
    <li>Chapter 3
      <ul>
        <li>Sub Chapter 3.1</li>
        <li>Sub Chapter 3.2</li>
        <li>Sub Chapter 3.3</li>
        <li>Sub Chapter 3.4</li>
        <li>Sub Chapter 3.5</li>
        <li>Sub Chapter 3.6</li>
        <li>Sub Chapter 3.7</li>
        <li>Sub Chapter 3.8</li>
        <li>Sub Chapter 3.9</li>
      </ul>
    </li>
    <li>Chapter 1</li>
    <li>Chapter 2
      <ul>
        <li>Sub Chapter 2.1</li>
      </ul>
    </li>
    <li>Chapter 3
      <ul>
        <li>Sub Chapter 3.1</li>
        <li>Sub Chapter 3.2</li>
        <li>Sub Chapter 3.3</li>
        <li>Sub Chapter 3.4</li>
        <li>Sub Chapter 3.5</li>
        <li>Sub Chapter 3.6</li>
        <li>Sub Chapter 3.7</li>
        <li>Sub Chapter 3.8</li>
        <li>Sub Chapter 3.9</li>
      </ul>
    </li>
  </ul>
</div>
<div class="modal-footer">
  <div class="left-side">
    <button type="button" class="btn btn-default btn-link" (click)="activeModal.close('Close click')">CLOSE</button>
  </div>

  <!--<div class="divider"></div>-->
  <!--<div class="right-side">-->
  <!--<button type="button" class="btn btn-danger btn-link" (click)="activeModal.close('Close click')">-->
  <!--DELETE-->
  <!--</button>-->
  <!--</div>-->
</div>