<div class="modal-header">
  <h5 class="modal-title text-center">{{book.name}}</h5>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ul>
      <li *ngFor="let chapter of chapters"><span (click)="scrollToChapter(chapter.id, 50)">{{chapter.name}}</span>
          <ul>
              <li *ngFor="let child of chapter.children" (click)="scrollToChapter(child.id, 70)">{{child.name}}</li>
          </ul>
      </li>
  </ul>
</div>
<div class="modal-footer">
  <div class="left-side">
    <button type="button" class="btn btn-default btn-link" (click)="activeModal.close('Close click')">CLOSE</button>
  </div>

  <!--<div class="divider"></div>-->
  <!--<div class="right-side">-->
  <!--<button type="button" class="btn btn-danger btn-link" (click)="activeModal.close('Close click')">-->
  <!--DELETE-->
  <!--</button>-->
  <!--</div>-->
</div>