<a href="{{ path('admin_magenta_cbookmodel_organisation_organisation_book_book_book_chapter_list',{'id':object.organisation.id, 'childId':object.id}) }}" class="btn btn-primary" style="display: block;">Manage Sections</a>
<br/>
