<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" href="http://www.magentapulse.com">Your Books on the Cloud</a>
    </div>
  </div>
</nav>

<div class="wrapper">
  <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
    <div class="filter"></div>
    <div class="content-center" style="z-index: 900;">
      <div class="container">
        <div class="title-brand">
          <div class="angular-logo">
            <!-- <img src="assets/img/angular2-logo.png" alt=""> -->
          </div>
          <!-- <h1 class="presentation-title">Paper Kit 2</h1> -->
          <div class="fog-low">
            <img src="assets/img/fog-low.png" alt="">
          </div>
          <div class="fog-low right">
            <img src="assets/img/fog-low.png" alt="">
          </div>
        </div>
        <div class="text-center logo"><img width="40%" src="https://www.magenta-wellness.com/assets/evoucher/img/logo.jpg" /></div>
        <h2 class="presentation-subtitle text-center">Sign in with your NRIC and Date of Birth</h2>
        <form class="register-form">
          <div class="input-group form-group-no-border">
                      <span class="input-group-addon pk-input-group-addon rounded-right-0">
                          <i class="nc-icon nc-badge"></i>
                      </span>
            <input type="text" class="form-control" placeholder="NRIC/Work Permit Number">
          </div>
          <div class="input-group form-group-no-border">
            <div class="input-group date">
                          <span class="input-group-addon pk-input-group-addon">
                              <i class="nc-icon nc-calendar-60"></i>
                          </span>
              <input class="form-control" placeholder="Date of Birth"
                     name="dp" [(ngModel)]="dob" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()">
            </div>
          </div>
          <button class="btn btn-danger btn-block btn-round" (click)="test()">Register</button>
        </form>
      </div>
    </div>
    <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
  </div>
</div>