{% extends base_book_template %}

{% block body %}
    <div class="container">
        <table v-if="!reading" class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            {% for draft in books %}
                {% set book = draft.previousVersion %}
                <tr class="hand-hover">
                    <td>{{ loop.index }}</td>
                    <td>
                        <a href="{{ path('magenta_book_reader_book', {orgSlug:orgSlug,'accessCode': accessCode, 'employeeCode': employeeCode, 'bookId': book.id}) }}">{{ book.name }}
                            <br/>
                        Edition: {{ book.bookEdition }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock body %}